
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <div class="p-5">
        <table class="table text-dark bg-light border-info">
          <thead>
            <tr>
              <th colSpan="3">
                <h1 class=" p-2 text-danger border-bottom border-5 border-danger">Full CURD Project Node+Reac</h1>
              </th>
              <th class="text-center">
                <a href="/New" class="btn text-decoration-none bg-info text-dark p-2 ps-5 pe-5">New</a>
              </th>
            </tr>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Description</th>
              <th class="text-center">#Action</th>
            </tr>
          </thead>
          <tbody id="table-body">
            <% data.forEach((item)=>{ %>
                <tr>
                  <td><%= item.id %></td>
                  <td><%= item.name %></td>
                  <td><%= item.description %></td>
                  <td class="text-center">
                      <a href="/<%= item.id %>" class="btn text-decoration-none bg-success text-light ps-2 pe-2">Edit</a>
                      <input type="button" name="submit" id="submit" value="Delete" class="btn text-decoration-none bg-danger text-light ps-2 pe-2" onclick="Delete(<%= item.id %>)" />
                     </td>
                </tr>
                <% }); %>
          </tbody>
        </table>
      </div>
</body>
<script type="text/javascript" charset="utf-8">
  function Delete(id){
    fetch(`/${id}`, {
        method: 'DELETE'
      }).then(res=>res.json()).then(res=>{
        if(res.err)
          alert(res.err);
        else{
          document.location.href="/";
        }
      });
  }
</script>
</html>